{% extends 'base.html' %}

{% block title %} About {% endblock title %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% block body %}



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="cover.css" rel="stylesheet">
  </head>
  <body class="text-center" style = "background-color: powderblue;">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">About Us</h1><br>
    <p class="text-danger lead" >If you could taste celebration it would taste like TREAT.

Bharat Ice Cream was won by taste, innovation and quality. It’s a difference you can taste. Which is why we are so loved by our fans and continue to make new ones? Keeping with the times and changing tastes of customers, Bharat Ice Cream, as an ice cream brand has come a long way. Fast moving ahead with its path-breaking innovations, strategic roadmap and fruitful partnerships,all set to become Central India's most loved ice cream brand.

All the standards of hygiene and quality control are observed at these plants. Bharat Ice Cream has always adopted the latest and the most suitable technique for preparing its ice creams. The motto behind this is to give its customers the best products and retain a satisfactory smile on their faces. Bharat Ice Cream scoops out lip-smacking variety of 100% vegetarian ice creams, sundaes, candy bars and novelties.</p>
<br><br>
  </main>
<span class="border border-primary" >

  <footer class="mastfoot mt-auto">
    <div class="inner"><p class="text-body">
          <b>CONTACT INFO</b><br>
              Email  <a href="queries@BharatIcecreams.in">queries@BharatIcecreams.in</a><br>

          <b>Address :</b> HO: 134, DDA Market, Janak Puri, New Delhi - 440 015.<br>
          <b>Phone Number:</b>
0712 - 2785505
      </p>
    </div></span>

  </footer>
</div>



{% endblock body %}